body {
    background-color: #434343;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25;
    padding-top: 75px;
    padding-bottom: 25px;
}
form{
    width: 75%;
    margin: auto;
}
.input{
    width: 100%;
    margin: 10px auto;
}
button{
    margin: 10px 0 0 50%;
    width: 50%;
}